@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Ojuju:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind components;
@tailwind base;
@tailwind utilities;


body{
  min-height: 100dvh;
}
h1, h2, h3, h4, h5 {
  text-wrap: balance;
}
/* p {
  text-wrap: balance;
} */
::-webkit-scrollbar {
  width: 2px;
}

.roboto-mono-guardian {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.playfair-display-guardian {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.shake {
  display: inline-block;
  padding: 20px;
  font-size: 24px;
  color: rgb(5, 177, 225);
  border-radius: 5px;
  animation: vibrate 0.3s linear 10;
  animation: name duration timing-function delay iteration-count direction fill-mode;
  -moz-animation: vibrate 0.3s linear 1;
}

@keyframes vibrate {
  0% { transform: translate(0); }
  25% { transform: translate(-2px, 2px); }
  50% { transform: translate(2px, -2px); }
  75% { transform: translate(-2px, -2px); }
  100% { transform: translate(2px, 2px); }
}

/* AnimatedPage.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page {
  animation: fadeIn 1s ease-in-out;
}

.text-3d {
  font-size: 4rem;
  color: #fff;
  letter-spacing: 3px;
  font-family: Arial, sans-serif;
  text-shadow: 
    1px 1px 0 #ccc, 
    2px 2px 0 #bbb, 
    3px 3px 0 #aaa, 
    4px 4px 0 #999, 
    5px 5px 0 #888,
    6px 6px 0 #777, 
    7px 7px 0 #666, 
    8px 8px 0 #555, 
    9px 9px 0 #444, 
    10px 10px 0 #333,
    11px 11px 0 #222, 
    12px 12px 0 #111;
  transform: rotateX(25deg) rotateY(0deg);
}
